<h2>Transactions Table</h2>
<button routerLink="/financial/transactions/create" class="btn btn-outline-dark pull-right mb-2">New Transaction</button>

<table mat-table [dataSource]="transactions" class="mat-elevation-z8 table table-striped">
<!--- Note that these columns can be defined in any order.
      The actual rendered columns are set as a property on the row definition" -->
<!-- Position Column -->
<ng-container matColumnDef="id">
  <th mat-header-cell *matHeaderCellDef> Id </th>
  <td mat-cell *matCellDef="let element"> {{element.id}} </td>
</ng-container>

<ng-container matColumnDef="amount">
  <th mat-header-cell *matHeaderCellDef> Amount </th>
  <td mat-cell *matCellDef="let element"> <a routerLink="/transactions/{{element.id}}">{{element.amount}}</a> </td>
</ng-container>

<ng-container matColumnDef="description">
  <th mat-header-cell *matHeaderCellDef> Description </th>
  <td mat-cell *matCellDef="let element"> {{element.description}} </td>
</ng-container>

<ng-container matColumnDef="location">
  <th mat-header-cell *matHeaderCellDef> Location </th>
  <td mat-cell *matCellDef="let element"> {{element.location}} </td>
</ng-container>

<ng-container matColumnDef="type">
  <th mat-header-cell *matHeaderCellDef> Type </th>
  <td mat-cell *matCellDef="let element"> {{element.type}} </td>
</ng-container>

<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

